<form v-on:submit.prevent="guardarServicio" method="get" id="frmServicio" data-accion="nuevo">

    <div class="card text-white bg-primary mb-3" style="max-width: 48rem;">
        <div class="card-header text-center">
            Servicio
            <button type="button" id="close-Servicios" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    SERVICIO
                </div>
                <div class="col-8">
                    <input type="text" v-model="Servicio.Servicio" placeholder="Servicio" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    COSTO
                </div>
                <div class="col-8">
                    <input type="text" v-model="Servicio.Costo" placeholder="0.00" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarServicio" type="submit" class="btn btn-outline-success text-white" value="Guardar">
                    <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                    <button v-on:click="buscarServicio()" type="button" class="btn btn-outline-dark mostrar-buscar-Servicio text-white" data-toggle="modal" data-target="#Servicios">
                        Buscar
                      </button>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert">
                        {{ Servicio.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="modal fade" id="Servicios" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Busqueda de Servicio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="frm-buscar-Servicio">
            <div class="card text-white bg-primary mb-3" style="max-width: 48rem;">
                <div class="car-header">
                    BUSQUEDA DE Servicio
                </div>
                <div class="card-body">
                    <table id="tbl-buscar-Servicio" class="table-striped table-primarytable-hover">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    <input type="text" v-model="valor" v-on:keyup="buscarServicio" placeholder="Servicio" class="form-control">
                                </th>
                            </tr>
                            <tr>
                                <th>Servicio</th>
                                <th>Costo</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="Servicio in Servicioes" :key="Servicio.Id_Servicio">
                                <td>{{ Servicio.Servicio }}</td>
                                <td>{{ Servicio.Costo }}</td>
                                <td>
                                    <input v-on:click="verificacionEliminacion(Servicio.Id_TipoServicio)" type="button" class="btn btn-outline-danger text-white" value="Delete">
                                    <input v-on:click="modificarServicio(Servicio)" data-dismiss="modal" type="button" class="btn btn-outline-warning text-white" value="Update">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<script src="./public/modulos/Servicios/Servicios.js"></script>