<form v-on:submit.prevent="guardarVehiculos" method="get" id="frmVehiculos" data-accion="nuevo">

    <div class="card text-white bg-primary mb-3" style="max-width: 48rem;">
        <div class="card-header text-center">
            Vehiculos
            <button type="button" id="close-Vehiculos" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card-body">
            <div class="row p-2">
                <div class="col-4">
                    CLIENTES
                </div>
                <div class="col-8">
                    <v-select v-model="Vehiculos.Cliente" :options="options"></v-select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    PLACA
                </div>
                <div class="col-8">
                    <input type="text" v-model="Vehiculos.Placa" placeholder="Placa" class="form-control">
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    TIPO DE VEHICULO
                </div>
                <div class="col-8">
                    <v-select v-model="Vehiculos.Tipo_Vehiculo"  :options="VehiculosTipo"></v-select>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-4">
                    MARCA
                </div>
                <div class="col-8">
                    <input type="text" v-model="Vehiculos.Marca" placeholder="KIA" class="form-control">
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarVehiculos" type="submit" class="btn btn-outline-success text-white" value="Guardar">
                    <input type="reset" class="btn btn-outline-warning text-white" value="Limpiar">
                    <button v-on:click="buscarVehiculos()" type="button" class="btn btn-outline-dark mostrar-buscar-Vehiculos text-white" data-toggle="modal" data-target="#Vehiculos">
                        Buscar
                      </button>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert">
                        {{ Vehiculos.msg }}
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

<div class="modal fade" id="Vehiculos" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalCenterTitle">Busqueda de Vehiculos</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" id="frm-buscar-Vehiculos">
            <div class="card text-white bg-primary mb-3" style="max-width: 48rem;">
                <div class="car-header">
                    BUSQUEDA DE Vehiculos
                </div>
                <div class="card-body">
                    <table id="tbl-buscar-Vehiculos" class="table-striped table-primarytable-hover">
                        <thead>
                            <tr>
                                <th colspan="5">
                                    <input type="text" v-model="valor" v-on:keyup="buscarVehiculos" placeholder="Nombre del cliente o Placa" class="form-control">
                                </th>
                            </tr>
                            <tr>
                                <th>Nombre</th>
                                <th>Placa</th>
                                <th>Tipo de Vehiculo</th>
                                <th>Marca</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="Vehiculos in Vehiculoses" :key="Vehiculos.Id_Vehiculos">
                                <td>{{ Vehiculos.Nombre }}</td>
                                <td>{{ Vehiculos.Placa }}</td>
                                <td>{{ Vehiculos.TipoVehiculo }}</td>
                                <td>{{ Vehiculos.Marca }}</td>
                                <td>
                                    <input v-on:click="verificacionEliminacion(Vehiculos.Id_Vehiculos)" type="button" class="btn btn-outline-danger text-white" value="Delete">
                                    <input v-on:click="modificarVehiculos(Vehiculos)" data-dismiss="modal" type="button" class="btn btn-outline-warning text-white" value="Update">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
        
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>

<script src="./public/modulos/Vehiculos/Vehiculos.js"></script>