<form v-on:submit.prevent="guardarAgregarServicios" method="get" id="frmAgregarServicios" data-accion="nuevo">

    <div class="card text-white bg-primary mb-3" style="width: 100%;">
        <div class="card-header text-center">
            Servicios
        </div>
        <div class="card-body">
            <label v-model="AgregarServicios.Factura"> </label>
            <div class="row p-2">
                <div class="col-4">
                    TIPO DE SERVICIO
                </div>
                <div class="col-8">
                    <v-select v-model="AgregarServicios.Tipo_Servicio" :options="Servicio"></v-select>
                </div>
            </div>
            <div class="row p-2"> 
                <div class="col-12 text-center">
                    <input id="btnGuardarAgregarServicios" type="submit" class="btn btn-outline-success text-white" value="Guardar" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>

</form>

<form method="POST" id="frm-buscar-AgregarServicios">
    <div class="card text-white bg-primary mb-3" style="max-width: 48rem;">
        <div class="car-header">
            BUSQUEDA DE AgregarServicios
        </div>
        <div class="card-body">
            <table id="tbl-buscar-AgregarServicios" class="table-striped table-primarytable-hover">
                <thead>
                    <tr>
                        <th colspan="5">
                            <input type="text" v-model="valor" v-on:keyup="buscarAgregarServicios" placeholder="Nombre del cliente" class="form-control">
                        </th>
                    </tr>
                    <tr>
                        <th>Servicio</th>
                        <th>Costo</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="Servicios in AgregarServicioses" :key="Servicios.Id_servicios">
                        
                        <td>{{ Servicios.Servicio }}</td>
                        <td>{{ Servicios.Costo }}</td>
                        <td>
                            <input v-on:click="verificacionEliminacion(Servicios.Id_servicios)" type="button" class="btn btn-outline-danger text-white" value="Delete">
                            <input v-on:click="modificarAgregarServicios(Servicios)" type="button" class="btn btn-outline-warning text-white" value="Update">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

<script src="public/modulos/Agregarservicios/Agregarservicios.js"></script>